<% include ../partials/header %>


<div class="container form-div">
	<h1>Edit Comments to <%= campground.name %></h1>
	<form action="/campground/<%=campground._id%>/comments/<%=comment._id%>/?_method=PUT" method="POST">
		<div class="form-group">
			<label>Content</label>
			<input type="text" name="comment[content]" value="<%=comment.content%>" class="form-control">
		</div>
		<input type="submit" class="btn btn-primary">
	</form>
	<a href="/campground/<%=campground._id%>">go back</a>
</div>

<% include ../partials/footer %>
