<% include ../partials/header %>
	<div class="container down-nav">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<div class="list-group-item active">Info 1</div>
					<div class="list-group-item">Info 2</div>
					<div class="list-group-item">Info 3</div>
				</div>
				<div class="img-thumbnail maps">
					<img src="/img/map-google.gif">
				</div>
			</div>
			<div class="col-md-9">
				<div class="">
					<img class="card-img-top" src="<%= campground.image %>">
					<div class="card-body">
						<h1 class="card-title">
							<%= campground.name%>
						</h1>
						<p class="card-text">
							<%= campground.description%>
						</p>
						<p class="card-text">
							Created by - <%= campground.author.username%>
						</p>
						<a class="card-link btn btn-primary" href="/campground/<%= campground._id%>/comments/new">
							Add New Comment
						</a>
						<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class="card-link btn btn-sm btn-warning" href="/campground/<%= campground._id%>/edit">
							Edit
						</a>
						<form action="/campground/<%=campground._id%>/?_method=DELETE" method="POST" class="del-btn">
							<button class="card-link btn btn-sm btn-danger" href="/campground/<%= campground._id%>">
								Delete
							</button>
						</form>
						<%}%>
					</div>
				</div>
					
				<div class="card">
					<% campground.comments.forEach(function(comment){ %>
						<div class="card-body">
							<h5>
								<%=comment.author.username%>
							</h5>
							<p>
								<%=comment.content%>
							</p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								<a class="card-link btn btn-sm btn-outline-warning" href="/campground/<%= campground._id%>/comments/<%=comment._id%>/edit">
									Edit
								</a>
								<form action="/campground/<%=campground._id%>/comments/<%=comment._id%>/?_method=DELETE" method="POST" class="del-btn">
									<button class="card-link btn btn-sm btn-outline-danger" href="/campground/<%= campground._id%>">
										Delete
									</button>
								</form>
							<%}%>
						</div>
					<% });%>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>